*{
    margin: 0;
    padding:0;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.topbar{
    width: 7.5rem;
    height: 1rem;
    position: fixed;
    box-shadow: 0 0 0.2rem 0 
        rgba(103, 172, 228, 0.767);
    background-color: white;
    line-height: 1rem;
}
.topbox{
    width: 7rem;
    height: 0.4rem;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    text-align: center;
    line-height: 0.4rem;
    position: relative;
    
}
.topbar i{
    color: #54bcfb;
    position: absolute;
    left: 0.2rem;
}
.topbar span{
    top: 0.2rem;
    color: #54bcfb;
}



.middle{
    width: 7.5rem;
    height: 3.6rem;
}
.alpha {
    padding-top: 1.5rem;
}
.myright{
    width: 1.6rem;
    height: 0.42rem;
    display: flex;
    border-bottom: 0.02rem soilid darkgray;
}
.myright span{
    color: #42aefb;
}
.myright p{
    color: #4f5b64;
}
.mod{
    width: 1.5rem;
    height: 1.7rem;
    margin-top: 0.5rem;
    margin-left: 0.65rem;
    float:left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 1.17rem;
    height: 1.17rem;
    background: linear-gradient(to bottom, #42aefb, #c5e6fe);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}
.circle i{
    font-size: 0.64rem;
}
.mod span{
    margin-top: 0.1rem;
    font-size: 0.25rem;
    color: #7f7f7f;
}
.v1 .circle{
    background: linear-gradient(to bottom, #3bd3b9, #3adc60);
}
.v2 .circle{
    background: linear-gradient(to bottom, #fdbb48, #fee148);
}
.v2 .circle{
   margin-left: 0.2rem;
}