*{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration:none;
}

/* 分割 */

.top{
    width: 7.5rem;
    height: 0.88rem;
    position:fixed;
    top:0;
    margin: 0 auto;
    box-shadow:0 0.002rem 0.1rem 0.01rem #ECF8FF;
}
.top i{
    color:#4FBBFE;
    margin-left: 0.24rem;
}
.top strong{
    color:#4FBBFE;
    text-align: center;
    line-height: 0.88rem;
    margin-left: 2.55rem;
}

/* 分割 */

.heada{
    width:7..02rem;
    height:4.7rem;
    margin: 0 auto;
    margin-top: 1.2rem;
    overflow: hidden;
    background-color:white;
}
.heada .wu{
    width:7.02rem;
    height:0.94rem;
    border-bottom: 0.005rem solid rgb(228, 228, 228);
    margin: 0 auto;
    line-height: 0.94rem;
}
.heada .wu .dian{
    display: block;
    float:left;
    color:#44b5ff;
}
.heada .wu p{
    display: block;
    float:left;
    font-size: 0.27rem;
    margin-left: 0.2rem;
    color:black;
}
.heada .wu i{
    display: block;
    float: right;
    color:#44b5ff;
}
.heada .wu .tuu{
    display: block;
    float: right;
    margin-top: 0.15rem;
    margin-right: 0.05rem;
}
.heada .wu .tu{
    display: block;
    float: right;
    margin-top: 0.25rem;
    margin-right: 0.14rem;
}
.heada .wu .ii{
    display: block;
    float: right;
    margin-right: 0.15rem;
}
.heada .wu .iii{
    display: block;
    float: right;
    margin-right: 0.15rem;  
    color:#44b5ff;  
}

/* 分割 */

.headb{
    width: 4.54rem;
    height: 0.6rem;
    margin: 0 auto;
    background: -webkit-linear-gradient(to right,#37e06f,#31d69a);
    background:linear-gradient(to right,#37e06f,#31d69a);
    border-radius:0.5rem;
    margin-top: 3rem;
    line-height: 0.6rem;
    text-align: center;
}
.headb p{
    color:white;
    font-size: 0.19rem;
}

/* 分割 */

