.top-box{
    width: 100%;
    height: 0.88rem;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
    
}
a{
    color: #000;
}
.top{
    width: 7.02rem;
    height: 0.88rem;
    background:#fff;
    text-align: center;
    line-height: 0.88rem;
    margin: 0 auto;
    color: #4EBBFE;
}
.top>a{
    float: left;
    color: #4EBBFE;
    font-weight: bolder;
}
.nav-box{
    width: 100%;
    height: 0.8rem;
    /* background: #000; */
    margin-top:0.88rem;
    box-shadow: 0 0.05rem 1rem 0.1rem #ECF8FF;
}
.nav{
    width: 7.02rem;
    height: 0.52rem;
    background: #ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    position: relative;
    /* padding-top: 0.1rem; */
}
.nav-left{
    font-weight: bold;
    color: #4EBBFE;
    font-size: 0.28rem;
    line-height: 0.52rem;
}
.nav>input{
    border-radius: 0.5rem;
    font-size: 0.28rem;
    opacity: 0.5;
    text-indent: 1em;
    height: 0.52rem;
    width: 7.02rem;
    outline: none;
    border: 0.01rem solid #ECF7FF;
    background: #F2FAFF;
}
.nav .seKuai{
    width: 0.8rem;
    height: 0.45rem;
    background: #A4E0BD;
    position: absolute;
    top: 0.09rem;
    right: 0.25rem;
    border-radius: 0.5rem;
}
.icon-xingtaiduICON_sousuo--{
    font-size: 0.5rem;
    position: absolute;
    top: 0.15rem;
    right: 0.5rem;
    color: transparent;
    background: #a1dfbd;
    -webkit-background-clip: text;   /*渐变效果限制于字*/
}
.img{
    width: 100%;
    height: 3.4rem;
}
.img img{
    width: 3.95rem;
    height: 3.4rem;
    display: block;
    margin: 2.5rem auto 0;
    box-sizing: border-box;
}
p{
    color: #000;
    opacity: 0.3;
    height: 0.95rem;
    width: 100%;
    font-size: 0.26rem;
    text-align: center;
    line-height: 0.425rem;
}
.bottom{
    width:2rem;
    height:0.7rem;
    background-color: aqua;
    margin: 0 auto;
    border-radius:0.5rem;
    background: -webkit-linear-gradient(to right,#38DE73,#2FD799);
    background:linear-gradient(to right,#38DE73,#2FD799);
    color:white;
    font-size: 0.2rem;
    line-height: 0.7rem;
    text-align:center; 
}