.top{
    width:7.5rem;
    height:0.88rem;
    text-align:center;
    line-height:0.88rem; 
    box-shadow:0 0 0.1rem 0.1rem #eff9ff;
    font-size:0.36rem;
    color:#41b2fc;   
    position:relative;
    font-weight:bold;
}
.top a{
    display:block;  
    position:absolute;
    top:0;
    left:0.24rem;
    height:100%;
}
.top .iconfanhui{
    color:#41b2fc;
    font-weight:bold;
}
a{
    display:block;
}
.q{
    height: 1.3rem;
    width: 7.02rem;
    margin: 0 auto;
}
.q1{
    height: 100%;
    font-size: 0.26rem;
    color: #979899;
    line-height:1.3rem; 
    float: left;
}
.q2{
    height: 100%;
    font-size: 0.26rem;
    color: #979899;
    line-height:1.3rem; 
    float:right;
}
.w{
    width:7.02rem;
    height:2.3rem;
    /* background-color: red; */
    margin:0 auto;
    border-bottom:0.03rem solid #F6F9FA;
}
.w1{
    width: 2rem;
    height: 2rem;
    float: left;
    margin-top:0.15rem;
}
.w1 img{
    width: 100%;
    height: 100%;
}
.w2{
    font-size: 0.3rem;
    color:#646666;
    float: left;
    margin-top:0.3rem;
    margin-left: 0.1rem;
    margin-right: 1rem;
}
.w3{
    font-size: 0.26rem;
    color:#36A8FE;
    float: left;
    margin-top:0.1rem;
    margin-left: 0.1rem;
    margin-right: 1rem;
}
.w4{
    font-size: 0.22rem;
    color:#AFB1B2;
    float: left;
    margin-top:0.1rem;
    margin-left: 0.1rem;
    margin-right: 1rem;
}
.w5{
    width: 4.8rem;
    float: left;
    /* background-color: red; */
    margin-left: 0.1rem;
    margin-top: 0.2rem;
    /* border-bottom:0.01rem solid #F6F9FA; */
}
.w5 .w5_1{
    float: left;
    font-size: 0.22rem;
    color:#36D681;
}
.w5_2{
    color: #FBB548;
    font-size: 0.26rem;
    float: left;
}
.w5_3{
    font-size: 0.24rem;
    color: #8A8C8D;
    float: right;
}
.w5_4{
    font-size: 0.24rem;
    color: #36D681;
    float: right;
}
.e{
    width: 7.02rem;
    height: 1.02rem;
    border-bottom:0.03rem solid #F6F9FA;
    margin:0 auto;
}
.e1{
    float: left;
    font-size: 0.24rem;
    color:#36D681;
    height: 1.02rem;
    line-height:1.02rem; 
    margin-right: 0.05rem;
}
.e2{
    float: left;
    font-size: 0.24rem;
    color:#8A8C8D;
    height: 1.02rem;
    line-height:1.02rem; 
    margin-right: 0.05rem;
}
.e3{
    height: 100%;
    /* font-size: 0.24rem; */
    color:#8A8C8D;
    line-height:1.02rem; 
    float: right;
    margin-left: 0.05rem;
}
.e4{
    height: 100%;
    font-size: 0.24rem;
    color:#8A8C8D;
    line-height:1.02rem; 
    float: right;
    margin-left: 0.05rem;
}
.e5{
    color: #36A8FE;
}
.e6{
    height: 100%;
    font-size: 0.24rem;
    color:#8A8C8D;
    line-height:1.02rem; 
    float: right;
    margin-left: 0.05rem;
}
.r{
    width: 100%;
    height: 1.08rem;
    background-color: #F1FAFF;
    margin-top: 1.45rem;
}
.r1{
    height: 100%;
    line-height:1.08rem; 
    float: left;
    font-size: 0.24rem;
    color:#85CCFE;
    margin-left: 0.24rem;
}
.r2{
    height: 100%;
    line-height:1.08rem; 
    float: left;
    font-size: 0.36rem;
    color:#85CCFE;
    margin-left: 0.1rem;
}
.r3{
    width: 3.5rem;
    height: 0.6rem;
    border-radius: 0.6rem;
    line-height:0.6rem; 
    text-align:center;
    font-size: 0.2rem;
    color:white;
    background-color: #3BACFE;
    float: right;
    margin-right: 0.24rem;
    margin-top: 0.3rem;
}