.top{
    width:7.5rem;
    height:0.88rem;
    text-align:center;
    line-height:0.88rem; 
    box-shadow:0 0 0.1rem 0.1rem #eff9ff;
    font-size:0.36rem;
    color:#41b2fc;   
    position:relative;
    font-weight:bold;
}
.top a{
    display:block;  
    float:left;
    height:100%;
    padding-left:0.24rem;
}
.top .iconfanhui{
    color:#41b2fc;
    font-weight:bold;
}
.neirong{
    height:2.5rem;
    width:7.02rem;
    margin:0 auto;
    margin-top:0.4rem;
}
.neirong .neirong1{
    height:1.6rem;
    width:100%;
    border-radius:0.1rem;
    background-color: #F1FAFF;
    padding-top:0.1rem;
}
.neirong .neirong1 .neirong11{
    font-size:0.24rem;
    color:#3BACFE;
    margin-top:0.3rem;
    margin-left:0.3rem;
}
.neirong .neirong1 .neirong11 span{
    font-size:0.24rem;
    color:#36A8FE;
    font-weight:bold;
    margin-left:0.1rem;
}
.neirong .neirong1 .neirong12{
    color:#787D7F;
    font-size:0.24rem;
    margin-left:1.2rem;
}
.neirong .neirong2{
    width:100%;
    height:0.8rem;
}
.neirong .neirong2 .n1{
    float:left;
    width:0.3rem;
    height:0.3rem;
    border-radius:0.3rem;
    background-color: #35DB82;
    text-align:center;
    line-height:0.3rem; 
    color:#fff;
    font-size:0.18rem;
    margin-top:0.25rem;
    box-shadow:0 0 0.05rem 0.05rem #C3F5D7;
}
.neirong .neirong2 .n2{
    float:left;
    width:auto;
    height:0.3rem;
    text-align:center;
    line-height:0.3rem; 
    color:#9AD4FE;
    font-size:0.24rem;
    margin-top:0.27rem;
    margin-left:0.2rem;
}
.neirong .neirong2 .n3{
    float:right;
    width:auto;
    height:0.3rem;
    text-align:center;
    line-height:0.3rem; 
    color:#44CC77;
    font-size:0.24rem;
    margin-top:0.27rem;
    margin-left:0.1rem;
}
.neirong .neirong2 .n4{
    float:right;
    width:auto;
    height:0.3rem;
    text-align:center;
    line-height:0.3rem; 
    color:#36A8FE;
    font-size:0.24rem;
    margin-top:0.25rem;
    margin-right:0.15rem;
}
.neirong .neirong2 .n5{
    background-color: #E7F6FF;
}
.bottom{
    height:0.6rem;
    width:4.54rem;
    border-radius:0.6rem;
    background:linear-gradient(to right,#37e06f,#32d699);
    background:-webkit-linear-gradient(to right,#37e06f,#32d699);
    color:#fff;
    font-size:0.2rem;
    text-align:center;
    line-height:0.6rem; 
    margin:0 auto;
    margin-top:5.5rem;
    box-shadow:0 0 0.05rem 0.05rem #B0F2CA;
}