.header{
    width:7.5rem;
    height:0.88rem;
    display: flex;
    box-shadow: 0px 3px 43px 0px 
    rgba(41, 167, 255, 0.13);
}
.header .icon-fanhui1{
    display: block;
    font-size:0.42rem;
    margin-left:0.24rem;
    color:#36a8fe;
    line-height: 0.88rem;
}
.header .title{
    margin-left:2.4rem;
    margin-top:0.17rem;
    font-size:0.38rem;
    color:#4ebbfe;
    font-weight: bold;
  

}
.bigbox{
    width:7.5rem;
    height:auto;
    padding:0 0.24rem;
    margin-top:0.04rem;
    overflow: hidden;
    box-sizing: border-box;
    background-color:#fbfeff;
}
.bigbox .box{
    width:7.02rem;
    height:0.6rem;
    margin-top:0.3rem;
    display: flex;
    justify-content: space-between;
}
.bigbox .box .text{
    font-size:0.26rem;
    color:#979899;
}
.bigbox .box .iconfont{
    font-size:0.24rem;
    color:#979899;
}
.bigbox .box2{
    width:7.02rem;
    height:2.2rem;
}
.bigbox .box2 .box2-1{
    width:1.74rem;
    height:1.74rem;
    background-color:#fff;
    float: left;
}
.bigbox .box2 .box2-1 img{
    width:1.19rem;
    height:1.25rem;
    margin:0.26rem 0  0  0.23rem;
    
}
.bigbox .box2 .box2-2{
    float: left;
    font-size: 0.3rem;
    color:#646666;
    margin-left:0.27rem;
   width:5rem; 
}
.bigbox .box2 .box2-3{
    float: left;
    margin-left:0.27rem;
    width:5rem; 
    margin-top:0.03rem;
    height:0.4rem;
    display: flex;
}
.bigbox .box2 .box2-3 .iconfont{
   color:#44b5ff;
   font-size:0.05rem;
   display: block;
   margin-top:0.1rem;

}
.bigbox .box2 .box2-3 span{
    color:#44b5ff;
    font-size:0.26rem;
    display: block;
    margin:0.05rem 0 0 0.1rem;
 }
 .bigbox .box2 .box2-4 span{
    color:#afb1b2;
    font-size:0.22rem;
    margin-top:0.04rem;
 }
 .bigbox .box2 .box2-5{
    height:0.47rem;
    display: flex;
    justify-content: space-between;
    
}
.bigbox .box2 .box2-5 .box2-5-1{
    display: flex;
}
.bigbox .box2 .box2-5 .box2-5-1 .iconfont{
    color:#36d681;
}
.bigbox .box2 .box2-5 .box2-5-1 span{
    font-size: 0.26rem;
    color: #fbb548;
}
.bigbox .box2 .box2-5 .box2-5-2{
    display: flex;
   
}

.bigbox .box2 .box2-5 .box2-5-2 .jian{
    width: 1.18rem;
	height: 0.52rem;
	background-color: #e7f6ff;
	border-radius: 0.26rem;
}
.bigbox .box2 .box2-5 .box2-5-2 .jian .iconfont{
    color:#3bacfe;
    font-size:0.18rem;
    text-align: center;
    line-height:0.35rem;
    
}
.bigbox .box2 .box2-5 .box2-5-2  span{
    color:#3bacfe;
    font-size: 0.26rem;
    text-align: center;
    line-height:0.45rem;
    
}
.bigbox .box2 .box2-5 .box2-5-2 .jia{
    width: 1.18rem;
	height: 0.52rem;
	background-color: #3bacfe;
	box-shadow: 0rem 0.05rem 0.12rem 0rem 
		rgba(59, 172, 254, 0.43);
	border-radius: 0.26rem;
}
.bigbox .box2 .box2-5 .box2-5-2 .jia .iconfont{
    color:#fff;
    font-size:0.18rem;
    text-align: center;
    line-height:0.35rem;
}
.bigbox .box3{
    width:7.02rem;
    height:0.86rem;
    border-bottom:1px solid #f6f9fa;
    display: flex;
    justify-content: space-between;
}
.bigbox .box3 .left{
    margin-top:0.31rem;
}
.bigbox .box3 .left .iconfont{
    color: #3bacfe;
    font-size:0.05rem;
}
.bigbox .box3 .left span{
    color: #8a8c8d;
    font-size:0.24rem;
}
.bigbox .box3 .right .iconfont{
    font-size:0.05rem;
}
.bigbox .box3 .right span{
    color: #8a8c8d;
    font-size:0.24rem;
}
.bigbox .box3 .right{
    margin-top:0.31rem;
    color: #8a8c8d;
}
.bigbox .box6{
   border:none;
}
.bigbox  img{
    display: block;
    width:1.01rem;
    height:1.01rem;
}
textarea{
    width:7.01rem;
    height:1.27rem;
    background-color:#f1faff;
    border:none;
    text-indent: 1em;  
    outline:none;
    margin-top:0.1rem;
}
textarea::placeholder{
    font-size:0.24rem;
    color: #b9c9d2;
}
.box4{
    width:7.5rem;
    height:0.98rem;
    background-color: #f1faff;
    position: fixed;
    bottom:0;

}
 .box4 .left{
    margin-top:0.31rem;
    margin-left:0.24rem;
    display: flex;
}
 .box4 .left .iconfont{
    color: #3bacfe;
    font-size:0.05rem;
    margin-top:0.19rem;
}
.box4 .left span{
    color: #3bacfe;
    font-size:0.24rem;
    margin-left:0.1rem;
}
.box4 .left span span{
    color: #36a8fe;
    font-size:0.36rem;
}
 .box4 button{
    margin-left:1.5rem;
    width: 3.5rem;
	height: 0.6rem;
	background-color: #3bacfe;
	box-shadow: 0rem 0.05rem 0.12rem 0rem 
		rgba(59, 172, 254, 0.43);
    border-radius: 0.3rem;
    border:0;
    outline: none;
    color:#fff;
    font-size:0.2rem;
    line-height: 0.6rem;
    text-align: center;
}