.top{
    width: 7.5rem;
    height: 0.88rem;
    background: #fff;
    line-height: 0.88rem;
    font-size: 0.38rem;
    text-align: center;
    color: #4ebbfe;
    letter-spacing: 0.02rem;
    box-shadow: 0 0.03rem 0.43rem 0
        rgba(41, 167, 255, 0.13);
    position: fixed;
    top: 0;
    z-index: 11;
}
.top i {
    color: #36a8fe;
    font-size: 0.3rem;
    margin-left: 0.24rem;
    float: left; 
}
.top span{
    width: 7.5rem;
    margin-left: -0.3rem;
}
.xuanze{
    width: 7.02rem;
    height: 0.25rem;
    margin: 0 auto;
    line-height: 0.25rem;
    margin-top: 0.36rem;
    font-size: 0.26rem;
    color: #979899;
}
.content{
    width: 7.02rem;
    height: 2.64rem;
    margin: 0 auto;
    margin-top: 0.26rem;
    box-shadow: 0 0.01rem 0.21rem 0 
		rgba(223, 223, 223, 0.43);
    border-radius: 0.1rem;
    background: #fff;
}
.content .box1{
    width: 7.02rem;
    height: 0.85rem;
    padding: 0 0.33rem 0 0.36rem;
    position: relative;
    box-sizing: border-box;
    line-height: 0.85rem;
   
}
.content .HX{
    width: 6.74rem;
    height: 0.02rem;
    background: #FAFAFA;
    margin: 0 auto;
}
.content .box1 .left{
    font-size: 0.24rem;
    color: #8a8c8d;
    float: left;
}
.content .box1 input{
    float: right;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
}
.content .box1 .right{
    font-size: 0.24rem;
    color: #36a8fe;
    float: right;
}
.content1{
    width:7.02rem;
    height:3.52rem;
    margin: 0 auto;
    margin-top:0.25rem;
    box-shadow: 0 0.01rem 0.21rem 0 
    rgba(223, 223, 223, 0.43);
    border-radius: 0.1rem;
    
    padding: 0 0.34rem;
    box-sizing: border-box;
}
.content1 .box1{
    width: 100%;
    height: 0.85rem;
    line-height: 0.85rem;
    box-sizing: border-box;
    border-bottom: 0.02rem solid #FAFAFA;
    font-size: 0.24rem;
    color: #8a8c8d;
    position: relative;
}
.content1 .box2{
    border: 0;
}
.content1 .box1 .name{
    float: left;
}
.content1 .box1 .num{
   float: left; 
   margin-left: 1.07rem
}
.content1 .box1 .price{
    float: left;
    margin-left: 0.8rem;
}
.content1 .box1 .jia{
    width: 0.74rem;
	height: 0.44rem;
	background-color: #f0f0f0;
    border-radius: 0.22rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    line-height: 0.44rem;
    text-align: center;
    font-size: 0.27rem
}
.content1 .box1 .nums{
    margin-left: 0.12rem;
    float: right;
    margin-right: 0.9rem;
}
.content1 .box1 .jian{
    width: 0.74rem;
	height: 0.44rem;
	background-color: #f0f0f0;
    border-radius: 0.22rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.15rem;
    margin: auto;
    line-height: 0.44rem;
    text-align: center;
    font-size: 0.27rem
}
.push{
    width: 7.02rem;
    height: 0.26rem;
    font-size: 0.26rem;
    line-height: 0.26rem;
    margin: 0 auto;
    margin-top: 0.3rem;
    color:#979899;
}
.paizhao{
    width: 1rem;
	height: 1rem;
	background-image: linear-gradient(90deg, #37e06f 0%, 	#31d69a 100%), 	linear-gradient(
		#36a8fe, 
        #36a8fe);
    box-shadow: 0px 0.04rem 0.2rem 0 
		rgba(55, 223, 116, 0.75);
    border-radius: 0.1rem;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    text-align: center;
    padding-bottom: 0.2rem;
    box-sizing: border-box;
}
.paizhao .iconpaizhao{
    font-size: 0.62rem;
    line-height: 1rem;
    color: #fff;
}
.input{
    width: 7.02rem;
    height: 1.27rem;
    margin: 0 auto;
    margin-top: 0.53rem;
    border: 0.01rem solid #8a8c8d;
}
.input textarea{
    width: 7.02rem;
    height: 1.27rem;
    padding-left: 0.32rem;
    box-sizing: border-box;
    outline: none;
    border: none;
}
.youhui{
    width: 7.02rem;
    height: 0.88rem;
    padding-top: 0.1rem;
    line-height: 0.88rem;
    margin: 0 auto;
    position: relative;
}
.youhui .yuan{
    width: 0.05rem;
	height: 0.05rem;
	background-color: #44b5ff;
	box-shadow:0 0.02rem 0.05rem 0
		rgba(68, 181, 255, 0.43);
    border-radius: 0.025rem;
    position: absolute;
    top: 0.1rem;
    bottom: 0;
    margin: auto;
    float: left;
}
.youhui .zi{
    font-size: 0.24rem;
    color: #8a8c8d;
    
    margin-left: 0.1rem;
    float: left;
}
.youhui i{
    font-size: 0.15rem;
    color:#8D8F90;
    
    float: right;
}
.youhui .none{
    font-size: 0.22rem;
    color: #8D8F90;
    float: right;
    margin-right: 0.2rem;
}
.youhui .none1{
    color: #5B5C5C
}
.dibu{
    width: 7.5rem;
    height: 1.08rem;
    color: #f1faff;
    position: relative;
    padding: 0 0.24rem;
    box-sizing: border-box;
    position: relative;
}
.dibu .yuan{
    width: 0.05rem;
	height: 0.05rem;
	background-color: #44b5ff;
	box-shadow:0 0.02rem 0.05rem 0
		rgba(68, 181, 255, 0.43);
    border-radius: 0.025rem; 
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    float: left;
}
.dibu span{
    margin-left: 0.1rem;
    font-size: 0.24rem;
    line-height: 1.08rem;
    letter-spacing: 0.13rem;
    float: left;
    color: #84CBFE;
}
.dibu p{
    font-size: 0.36rem;
    line-height: 1.08rem;
    color: #36a8fe;
    display: inline;
   
}
.dibu .right{
    width: 3.8rem;
	height: 0.6rem;
	background-image: linear-gradient(90deg, 
		#37e06f 0%, 
		#31d69a 100%), 
	linear-gradient(
		#3bacfe, 
		#3bacfe);
	background-blend-mode: normal, 
		normal;
	box-shadow:0 0.04rem 0.2rem 0
		rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    float: right;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0.24rem;
    color: #fff;
    line-height: 0.6rem;
    text-align: center;
}