.top{
    width:7.5rem;
    height:0.88rem;
    /* background-color: aqua; */
    margin-top:0.5rem;
    position: relative;
}
.top span{
    position: absolute;
    top:10px;
    left:3rem;
    font-size: 0.2.5rem;
}
.top .icon-zuojiantou{
    line-height: 0.8rem;
    margin-left:0.01rem;
    font-size: 0.5rem;
    color:#36a8fe;
}
.df{
    width:7.5rem;
    height:3.88rem;
    /* background-color: red; */
    position: relative;
}
.df .icon-qianbao{
    font-size: 1rem;
    position: absolute;
    left:3rem;
    top:0.05rem;
    color:green;
}
.df .zi{
    width: 3rem;
    height: 100%;
    line-height: 3.4rem;
    margin-left: 2.3rem
}
.df .zi2{
    color:#32d796;
    font-size: 0.3rem;
    font-weight: bolder;
}
.df .zi3{
    position: absolute;
    top:1.9rem;
    left:2.9rem;
}
.df .yuan{
    width:1.96rem;
    height:0.6rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%);
    box-shadow: 0px 4px 20px 0px rgba(55, 223, 116, 0.75);
    position: absolute;
    top:2.6rem;
    left:0.69rem;
    border-radius: 0.3rem;
    line-height:0.7rem;
    text-align: center;
}
.df .yuan2{
    width:1.96rem;
    height:0.6rem;
    background-color: #3bacfe;
    box-shadow: 0px 5px 12px 0px rgba(59, 172, 254, 0.43);
    position: absolute;
    top:2.6rem;
    left:3.8rem;
    border-radius: 0.3rem;
    line-height:0.7rem;
    text-align: center;
}
.df .yuan .zi7{
    color:white;
}
.df .yuan2 .zi8{
    color:white;
}
.cent{
    width:7.5rem;
    height:0.88rem;
    /* background-color: aquamarine; */
    padding:0.01rem;
}
.cent .xiao{
    width: 0.1rem;
	height: 0.3rem;
	background-color: #34da87;
	box-shadow: 0px 2px 5px 0px rgba(52, 218, 135, 0.43);
    border-radius: 0.03rem;
    margin-top:0.24rem;
    display:inline-block;
}
.cent .zi10{
    color:#34da87;
    font-weight: bolder;
}
.cent .zi19{
    color:#4f5b64;
    font-weight: bolder;
}
.boy{
    width:7.5rem;
    height:3.86rem;
    /* background-color: aqua; */
}
.boy .uu{
    width:3.3rem;
    height:3.86rem;
    /* background-color: violet; */
    margin-left:0.15rem;
    display:inline-block;
}
.boy .uu .small{
    width:0.54rem;
    height:0.3rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%);
    float: right; 
    margin-top:0.15rem;
    margin-right:0.05rem;
    border-radius: 0.2rem;
    text-align: center;
    line-height: 0.3rem;
}
.boy .uu .small .zi11{
    margin-left:0.02rem;
    color:white;
}
.boy .uu img{
    width:1.53rem;
    height:1.61rem;
    margin-left:33px;
    margin-top:0.1rem;
}
.boy .uu .sma{
    width:3.3rem;
    height:0.88rem;
    /* background-color: teal; */
    border-bottom: 0.01rem solid #F1F4F5;
    font-weight: bolder;
    color:#646666;
}
.boy .uu .sma .ziti1{
    margin-left:0.27rem;
    color:#fbb548;
}
.boy .uu .sma .ziti2{
    font-size: 0.14rem;
    line-height: 0.33rem;
}
.boy .uu .sme{
    width:3.3rem;
    height:1.1rem;
    /* background-color: turquoise; */
    padding:0.01rem;
}
.boy .uu .sme .hu{
    width:0.1rem;
    height:0.1rem;
    background-color:#44b5ff;
    margin-top:0.15rem;
    border-radius: 0.1rem;
    display:inline-block;
}
.boy .uu .sme .ziti5{
    font-size: 0.12rem;
    color:#AFB1B2;
}
.boy .uu .sme .ziti6{
    font-size: 0.12rem;
    color:#36a8fe;
}
.boy .uu .sme .hu1{
    width:0.1rem;
    height:0.1rem;
    background-color:#44b5ff;
    margin-top:0.15rem;
    margin-left:0.01rem;
    border-radius: 0.1rem;
    display:inline-block;
}
.boy .uu .sme .bottom{
    width:1.21rem;
    height:0.35rem;
    background-color: #E7F6FF;
    margin-top:0.29rem;
    margin-left:0.15rem;
    display:inline-block;
    border-radius: 0.2rem;
    text-align: center;
    line-height: 0.3rem;
}
.boy .uu .sme .bottom1{
    width:1.21rem;
    height:0.35rem;
    background-color: #E7F6FF;
    margin-top:0.29rem;
    float:left;
    margin-left:0;
    border-radius: 0.2rem;
    text-align: center;
    line-height: 0.3rem;
}
.boy .uu .sme .bottom .za{
    font-size: 0.12rem;
    margin-left:0.11rem;
    color:#3babff;
}
.boy .uu .sme .bottom1 .za{
    font-size: 0.12rem;
    margin-left:0.11rem;
    color:#3babff;
}